
.noshow {
	display: none !important; }

/* Light Theme */
$lt-light-gray: #e2e2e2;
$lt-medium-gray: #ccc;
$lt-gray: #b2b2b2;
$lt-dark-gray: #9b9b9b;
$lt-strong-gray: #595959;
$lt-black: #333333;

/* Colors */
$light-red: #e53232;
$red: #E71717;
$dark-red: #d10000;
$strong-red: #9e0000;

$light-blue: #5d9afc;
$blue: #4286F4;
$medium-blue: #166af4;
$dark-blue: #1c59bc;

$yellow: #ffbe3a;
$dark-yellow: #cc9424;

$green: #00b563;
$dark-green: #006637;

$orange: #ff7f00;
$dark-orange: #d66a00;

$purple: #9700dd;
$dark-purple: #6f00a3;


/* Text */
$regular-font-weight: 300;
$regular-font-size: 16px;
$regular-font-family: arial, sans-serif;
$regular-font: $regular-font-weight $regular-font-size $regular-font-family;

$lt-font-color: black;
$chrome-selected-color: #3297FD;

/* Misc */
$taggle-vertical-padding: 5px;
$auto-complete-max-height: 100px;
$search-box-border-width: 2px;
$favicon-resolution: 128px;

%revert-button {
	padding: 0;
	margin: 0; 
	background: none;
	border: none;
	outline: none;
	cursor: pointer; }
