
// Light Theme
$lt-light-gray: #e2e2e2;
$lt-medium-gray: #ccc;
$lt-gray: #b2b2b2;
$lt-dark-gray: #9b9b9b;
$lt-strong-gray: #595959;

// Dark Theme
$dt-black: #201F20;

// Tints
$red: #E71717;
$dark-red: #d10000;
$blue: #4286F4;

// Possible
$yellow: #ffbe3a;
