
// Light Theme
$lt-light-gray: #e2e2e2;
$lt-medium-gray: #ccc;
$lt-gray: #b2b2b2;
$lt-dark-gray: #9b9b9b;
$lt-strong-gray: #595959;
$lt-black: #333333;

// Dark Theme
$dt-black: #201F20;

// Tints
$light-red: #e53232;
$red: #E71717;
$dark-red: #d10000;
$strong-red: #9e0000;

$light-blue: #5d9afc;
$blue: #4286F4;
$medium-blue: #166af4;
$dark-blue: #1c59bc;

$yellow: #ffbe3a;
$dark-yellow: #cc9424;

// Text
$regular-font: 300 16px arial, sans-serif;
$lt-font-color: black;
$chrome-selected-color: #3297FD;

// Size
$taggle-vertical-padding: 5px;

// gallery.scss
$search-box-border-width: 2px;
$favicon-resolution: 128px;
