
@import "master";

.cc__source {}


.cc__image {
  border-radius: 5px;
}


.cc__bookmark {
  align-self: flex-start;
  width: $favicon-resolution;
  height: $favicon-resolution;
}
.cc__bookmark img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}


.cc__video {}


.cc__youtube {
  border: none;
}
