
@import "master";

$row-vertical-margin: 20px;
$row-spacing: 15px;

$content-padding: 15px;
$br: 8px;

.feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: $row-vertical-margin;
	padding-bottom: $row-vertical-margin - $row-spacing;
	border-radius: $br; }
.feed.message {
	justify-content: center;
	padding: 5px; }
.feed-message {
	display: inline-block;
	font: $regular-font;
	font-size: 32px; }


.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: $content-padding;
	padding-bottom: 0;
	margin-right: 20px;
	margin-bottom: $row-spacing;
	border-radius: $br; }
.content__source-block {
	display: flex;
	justify-content: center;
	min-width: 100px;
	height: 300px; }
.content__source-block.favicon {
	height: auto; }
.content__info-block {
	display: flex;
	padding: ($content-padding / 2) 0; }
.content__title {
	flex-grow: 1;
	width: 0;
	margin: 0;
	font: $regular-font;
	text-align: center;
	word-wrap: break-word; }

.content__source {
	max-height: 100%; }
.content__image {
	border-radius: 5px; }
.content__favicon {
	width: $favicon-resolution;
	height: $favicon-resolution;
	padding: 5px;
	border-radius: $br; }
.content__favicon img {
	width: 100%;
	height: 100%;
	border-radius: inherit; }
.content__video {}
.content__youtube {
	border: none; }
