
@import "master";

.feed {
	background: $lt-light-gray; }


.feed-message {
	color: $lt-strong-gray; }
.feed-message svg {
	fill: $lt-black;
	stroke: $lt-black; }


.content {
	background: $lt-dark-gray;
	border: 2px solid $lt-strong-gray; }
.content.hover {
	border-color: $blue; }
.content__title {
	color: $lt-font-color; }
