
@import "master";

$input-br: 7px;
$container-padding: 5px;

/*utilities*/
.noshow {
  display: none !important; }
.focus-guard {
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0; }

/*top-level elements*/
html {
  width: 100%;
  height: 100%; }
body {
  margin: 0; }
.root {
  position: absolute;
  width: 100%;
  height: 100%; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }


.error-message {
  font: $regular-font;
  font-size: 32px; }


.sizer {
  display: inline-block;
  flex: 0.7 0 auto; }


/*the menu for saving content*/
.save-menu {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 300px;
  height: 290px;
  padding: 20px 10px;
  border-radius: 17px;
  user-select: none; }


/*css relating to the title*/
.save-menu__title-box {
  margin-top: 10px;
  padding: 5px;
  border-radius: $input-br; }
.save-menu__title {
  width: 100%;
  height: 20px;
  background: inherit;
  border: none;
  font: $regular-font; }
.save-menu__title:focus {
  outline: none; }


/*css relating to the tags*/
.save-menu__tag-container {
  position: relative;
  min-height: auto;
  max-height: 90px;
  padding: $container-padding;
  padding-bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: $input-br;
  cursor: text; }
.save-menu__tag-container::-webkit-scrollbar { width: 0; }
.taggle_list li {
  margin-bottom: $container-padding; }
.taggle_placeholder {
  left: 5px; }


/*css relating to the svg buttons*/
.save-menu__button-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
.save-menu__save-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer; }
.save-menu__bookmark-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer; }
.save-menu__save-svg {
  width: 100%;
  height: 100%; }
.save-menu__bookmark-svg {
  width: 100%;
  height: 100%; }


/*the menu where the sources are listed*/
.source-menu {
  box-sizing: border-box;
  width: 300px;
  height: 290px;
  margin: 0 auto;
  padding: 0; }
.source-menu__list {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  border-radius: 5px;
  list-style-type: none; }
.source-menu__source {
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 12px;
  user-select: none; }
.source-menu__text {
  display: block;
  margin: 0;
  font-weight: 400;
  word-wrap: break-word; 
  user-select: text; }
.source-menu__tag-list {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0; }
.source-menu__tag {
  display: inline;
  height: 20px;
  margin-right: 3px;
  padding: 2px;
  border-radius: 3px; }
.source-menu__svg {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }
.source-menu__link {
  width: 30px;
  height: 20px;
  margin-right: 3px; }
.source-menu__download{
  width: 20px;
  height: 20px; }
