
@import "master";

body {
	background: white; }
.root {
	background: $lt-light-gray; }


.btn {
	background-color: $lt-gray;
	color: $lt-font-color; }
.add-tag-rule-btn {}
.download-meta-btn {}
.tag-rules {
	background-color: $lt-gray;
	.rule {
		.value {
			color: $lt-font-color;
			border: 1px solid $lt-font-color; }
		.value:focus {
			background: white; }
		.delete {
			color: $lt-font-color;
			background-color: $lt-dark-gray; }
	}
}

.theme-radio {
	display: inline-block;
	background-color: $lt-gray;
	color: $lt-font-color;
	.title {}
	.option {}
	input {}
}
