
.alerts__list {
  top: 20%;
  left: 50%;
  width: 150px;
  padding: 0;
  margin: 0;
  list-style-type: none; }


.alerts__alert {
  opacity: 0.5;
  position: relative;
  padding: 3px 10px;
  border-radius: 3px;
  word-wrap: break-word; }
.alerts__alert.fade-in {
  opacity: 1; 
  transition: opacity 0.5s; }
.alerts__alert.fade-out {
  opacity: 0; 
  transition: opacity 0.5s; }


.alerts__text {
  max-width: calc(100% - 10px);
  margin: 0;
  font-size: 16px;
  text-align: center;
  user-select: none; }
.alerts__close {
  opacity: 0.3;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  user-select: none;
  transition: all 0.3s step-start; }
.alerts__close:hover {
	opacity: 0.6;
	width: 13px;
	height: 13px;
  font-size: 13px; }
