
.mask--theme
{
  background-color: #000000;
  opacity: 0.75;
}

.save-menu--theme
{
  background-color: #f2f2f2;
  border: 4px solid #4c4c4c;
}
.save-menu__title--theme
{
  background: #fdfdfd;
  border: 0.5px solid #939393;
  box-shadow: 0px 1px 5px 0px #bfbfbf;
}
.save-menu__title--theme.focus
{
  box-shadow: 0px 0.35px 5px 2px #9e9c9c;
}
.save-menu__title--theme input::placeholder
{
  color: #939393;
}

.save-menu__tag-container--theme
{
  background: #fdfdfd;
  border: 0.5px solid #939393;
  box-shadow: 0px 1px 5px 0px #bfbfbf;
}
.save-menu__tag-container--theme.focus
{
  box-shadow: 0px 0.35px 5px 2px #9e9c9c;
}

.save-menu__save-btn--anim
{
  fill: url('#gradient-save_start');
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
.save-menu__save-btn--anim:hover
{
  fill: url('#gradient-save_end');
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}
.save-menu__bookmark-btn--anim
{
  fill: #101214;
}
.save-menu__bookmark-btn--anim:hover
{
  fill: url('#gradient-bookmark_end');
}

.source-menu__source.active
{
  background: red;
}
.source-menu__tag--theme
{
  
}
.source-menu__svg--theme
{
  fill: black;
}	