
body
{
  width: 0px;
  height: 0px;
}


.mask 
{
	position: fixed;
  z-index: -1;
	width: 100%;
	height: 100%;
  top: 0.5px;
  left: -0.5px;
  user-select: none;
}
.mask--opaque
{
  background-color: #000000;
  opacity: 0.75;
}


.saveMenu
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  flex-direction: column;
  /*justify-content: space-around;*/

  width: 250px;
  height: 250px;

  border-radius: 20px;
  padding: 20px 10px;
  user-select: none;
}
.saveMenu--shiftLeft
{
  left: 45%;
}
.saveMenu--light
{
  background-color: #f2f2f2;
  border: 4px solid #4c4c4c;
}
.saveMenu__title
{
  margin-top: 10px;
  border-radius: 3px;
  padding: 3px;
}
.saveMenu__title input
{
  font-size: 14px;
  width: 100%;
  border: none;
  background: inherit;
}
.saveMenu__title input:focus
{
  outline: none;
}
.saveMenu__title--light
{
  background: #fdfdfd;
  border: 0.5px solid #939393;
  box-shadow: 0px 1px 5px 0px #bfbfbf;
}
.saveMenu__title--light.focus
{
  box-shadow: 0px 0.35px 5px 2px #9e9c9c;
}
.saveMenu__title--light input::placeholder
{
  color: #939393;
}
.saveMenu__tagArea
{
  position: relative;
  min-height: auto;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;

  border-radius: 3px;
  cursor: text;
}
.saveMenu__tagArea--light
{
  background: #fdfdfd;
  border: 0.5px solid #939393;
  box-shadow: 0px 1px 5px 0px #bfbfbf;
}
.saveMenu__tagArea--light.focus
{
  box-shadow: 0px 0.35px 5px 2px #9e9c9c;
}
.saveMenu__buttonArea
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.saveMenu__save
{
  display: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.saveMenu__save--anim
{
  fill: url('#gradient-save_start');
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
.saveMenu__save--anim:hover
{
  fill: url('#gradient-save_end');
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}
.saveMenu__bookmark
{
  display: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.saveMenu__bookmark--anim
{
  fill: #101214;
}
.saveMenu__bookmark--anim:hover
{
  fill: url('#gradient-bookmark_end');
}


.sourceMenu
{
  position: absolute;
  top: 0px;
  left: 130%;

  display: none;
  width: 250px;
  height: 250px;

  padding: 20px 10px;
  border-radius: 3px;
  background: #FDFDFD;
}
.sourceMenu__list
{
  display: block;
  margin: 0;
  padding: 0;
 list-style-type: none; 
}
.sourceMenu__list__element
{
  display: inline-block;
}
.sourceMenu__title
{
  display: inline-block;
  margin: 0;
}
.sourceMenu__tags
{
  display: inline-block;
  margin: 0;
  padding: 0;
}
.sourceMenu__tag
{
  display: inline-block;
}
.sourceMenu__tag--active
{
  background: red;
}
.sourceMenu__svg
{
  display: inline-block;
  vertical-align: text-bottom;
  fill: black;
  width: 20px;
  height: 16px;
  cursor: pointer;
}
.sourceMenu__copy
{

}
.sourceMenu__download
{

}
.sourceMenu__cache
{

}
