
/*utilities*/
.noshow
{
  display: none !important;
}

/*top-level elements*/
html
{
  width: 100%;
  height: 100%;
}
body
{
  margin: 0;
}
.root
{
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
.sizer1
{
  display: inline-block;
  width: calc(50% - 125px);
}
.sizer2
{
  display: inline-block;
  width: 50px;
}
.focus-guard
{
  display: block;
  margin: 0;
  padding: 0;
  width: 0px;
  height: 0px;
}

/*the menu for saving content*/
.save-menu
{
  display: inline-flex;
  vertical-align: middle;
  flex-direction: column;

  width: 250px;
  height: 250px;

  padding: 20px 10px;
  border-radius: 17px;
  user-select: none;
}

/*css relating to the title*/
.save-menu__title-box
{
  margin-top: 10px;
  border-radius: 3px;
  padding: 3px;
}
.save-menu__title
{
  font-size: 14px;
  width: 100%;
  border: none;
  background: inherit;
}
.save-menu__title:focus
{
  outline: none;
}

/*css relating to the tags*/
.save-menu__tag-container
{
  position: relative;

  min-height: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;

  border-radius: 3px;
  cursor: text;
}
.save-menu__auto-complete
{
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.save-menu__auto-complete-li
{}
.save-menu__auto-complete-li.active
{}

/*css relating to the svg buttons*/
.save-menu__button-area
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.save-menu__save-svg
{
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.save-menu__bookmark-svg
{
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

/*the menu on which alternative sources(video) are listed*/
.source-menu
{
  display: inline-block;
  vertical-align: middle;

  width: 250px;
  height: 250px;

  padding: 20px 10px;
  border-radius: 3px;
  background: #FDFDFD;
}
.source-menu__list
{
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none; 
}
.source-menu__source
{
  display: inline-block;
}
.source-menu__tag-list
{
  display: inline-block;
  margin: 0;
  padding: 0;
}
.source-menu__tag
{
  display: inline-block;
}
.source-menu__svg
{
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 16px;
  cursor: pointer;
}
.source-menu__copy
{

}
.source-menu__download
{

}


.taggle_list 
{
  float: left;
  width: 100%; 
  margin: 5px;
  padding: 0px;
}

.taggle_input 
{
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}

.taggle_list li 
{
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
} 

.taggle
{
  margin-right: 8px;
  background: #E2E1DF;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: all .3s;
  animation-duration: 1s;
  animation-fill-mode: both; 
}

.taggle_hot 
{
  background: #cac8c4; 
}

.taggle .close 
{
  font-size: 1.1rem;
  position: absolute;
  top: 5px;
  right: 3px;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 3px;
  line-height: 0.5;
  color: #ccc;
  color: rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
  display: none;
  border: 0;
  background: none;
  cursor: pointer; 
}

.taggle:hover 
{
  padding: 5px;
  padding-right: 15px;
  background: #ccc;
  transition: all .3s; 
}

.taggle:hover > .close 
{
  display: block; 
}

.taggle .close:hover 
{
  color: #990033; 
}

.taggle_placeholder 
{
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  margin-left: 5px;
  
  color: #939393;
  font-size: 18px;
  user-select: none; 
}

.taggle_input
{
  padding-top: 8px;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100%;
  max-width: 100%; 
}

.taggle_sizer 
{
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden; 
}
