
/*top-level elements*/
html {
  background-color: hsla(0, 0%, 0%, 0.65); }


/*modifiers*/
.awesomeShadow {
  border: 0.5px solid #939393;
  box-shadow: 0px 2px 5px 0px #bfbfbf;
}
.awesomeShadow.focus {
  box-shadow: 0px 2px 5px 2px #bfbfbf;
}



/*the menu for saving content*/
.save-menu {
  border: 2.5px solid #545454;
  background-color: white; }


/*css relating to the title*/
.save-menu__title-box {
  background: white; }
.save-menu__title::placeholder {
  color: #939393; }


/*css relating to the tags*/
.save-menu__tag-container {
  background: white; }
.taggle_placeholder {
    color: #939393; }
.taggle {
  background: #E2E1DF; }
.taggle:hover {
  background: #ccc; }
.taggle_hot {
  background: #cac8c4 !important; }
.save-menu__auto-complete {
  border: 0.5px solid #939393; }
.save-menu__auto-complete::-webkit-scrollbar-track { 
  background-color: #b5b5b5; }
.save-menu__auto-complete::-webkit-scrollbar-thumb { 
  background-color: #878787; }
.save-menu__auto-complete-li {
  background: white;
  color: #939393;
  font-weight: 400; }
.save-menu__auto-complete-li.active {
  background: #d8d8d8; 
  color: #727272; }


/*css relating to the svg buttons*/
.save-menu__save-svg {
  fill: url('#gradient-light1'); }
.save-menu__save-svg:hover {
  fill: url('#gradient-light2'); }
.save-menu__bookmark-svg {
  fill: url('#gradient-light1'); }
.save-menu__bookmark-svg:hover {
  fill: url('#gradient-light3'); }


/*the menu where the sources are listed*/
.source-menu {
  background: #FDFDFD; }
.source-menu__source.active {
  background: red; }
.source-menu__tag {
  background: blue; }
.source-menu__svg {
  fill: black; }
