
/*utilities*/
.noshow {
  display: none !important; }


/*top-level elements*/
html {
  width: 100%;
  height: 100%; }
body {
  margin: 0; }
.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%; }
.sizer {
  display: inline-block;
  flex: 0.7 0 auto; }
.focus-guard {
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0; }


/*the menu for saving content*/
.save-menu {
  display: inline-flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  padding: 20px 10px;
  border-radius: 17px;
  user-select: none; }


/*css relating to the title*/
.save-menu__title-box {
  margin-top: 10px;
  padding: 5px;
  border-radius: 3px; }
.save-menu__title {
  width: 100%;
  height: 20px;
  background: inherit;
  border: none;
  font-size: 17px; }
.save-menu__title:focus {
  outline: none; }


/*css relating to the tags*/
.save-menu__tag-container {
  position: relative;
  min-height: auto;
  max-height: 90px;
  padding: 5px;
  padding-bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 3px;
  cursor: text; }
.save-menu__tag-container::-webkit-scrollbar { width: 0; }
.taggle_placeholder {
  position: absolute;
  top: 45%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 18px;
  user-select: none; }
.taggle_list  {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0; }
.taggle_input {
  display: inline-block;
  float: left;
  width: 100%;
  max-width: 100%;
  background: inherit;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300; }
.taggle_list li { /*all li including inputLi*/
  display: inline-block;
  float: left;
  margin-bottom: 5px;
  white-space: nowrap;
  font-weight: 500; }
.taggle { /*all li except inputLi*/
  position: relative;
  margin-right: 8px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer; 
  transition: padding 0.1s; }
.taggle:hover {
  padding: 5px;
  padding-right: 15px; }
.taggle .close {
  display: none;
  position: absolute;
  top: 55%;
  right: -3px;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: none;
  color: #d10000;
  font-size: 1.5em;
  cursor: inherit; }
.taggle:hover > .close {
  display: block; }
.taggle_sizer {
  display: none; }
.save-menu__auto-complete {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1;
  width: 99.5%;
  max-height: 100px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style-type: none; }
.save-menu__auto-complete::-webkit-scrollbar {
  width: 7px; }
.save-menu__auto-complete::-webkit-scrollbar-track { 
  border-radius: 3px; }
.save-menu__auto-complete::-webkit-scrollbar-thumb { 
  border-radius: 3px; }
.save-menu__auto-complete::-webkit-scrollbar-button {
  display: none; }
.save-menu__auto-complete-li {
  height: 20px;
  padding-left: 2px;
  overflow: hidden;
  font-size: 14px;
}
.save-menu__auto-complete-li.active {}


/*css relating to the svg buttons*/
.save-menu__button-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
.save-menu__save-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer; }
.save-menu__bookmark-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer; }
.save-menu__save-svg {
  width: 100%;
  height: 100%; }
.save-menu__bookmark-svg {
  width: 100%;
  height: 100%; }


/*the menu where the sources are listed*/
.source-menu {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 3px; }
.source-menu__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none; }
.source-menu__source {
  display: inline-block; }
.source-menu__tag-list {
  display: inline-block;
  margin: 0;
  padding: 0; }
.source-menu__tag {
  display: inline-block; }
.source-menu__svg {
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 16px;
  cursor: pointer; }
.source-menu__copy {}
.source-menu__download{}
